In [2]:
import cenpy as c
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
%matplotlib inline

In [3]:
acs_2015 = 'ACSSF5Y2015'
connection = c.base.Connection(acs_2015)

In [4]:
geographies = connection.geographies['fips']
variables = connection.variables

In [54]:
pop_id = ['B00001_001E']
race_ids = ['B02001_001E', 'B02001_002E', 'B02001_003E', 'B02001_004E', 'B02001_005E']
race_dict = dict(zip(race_ids, variables.loc[race_ids].label))

In [55]:
geo_unit = 'block group'
geo_filter = {'state' : '06', 'county' : '001'}
cols = ['NAME', 'GEOID'] + pop_id + race_ids

In [59]:
query[pop_id[0]].sum()

125008.0

In [56]:
query = connection.query(cols=cols, geo_unit=geo_unit, geo_filter=geo_filter)
query.index = query.GEOID
query.index = query.index.str.replace('15000US', '')
query.head(10)

/usr/local/lib/python3.5/site-packages/cenpy/remote.py:172: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  df[cols] = df[cols].convert_objects(convert_numeric=convert_numeric)

,NAME,GEOID,B00001_001E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,state,county,tract,block group
GEOID,,,,,,,,,,,,
060014001001,"Block Group 1, Census Tract 4001, Alameda Coun...",15000US060014001001,301.0,2952,2125,106,0,476,06,001,400100,1
060014002001,"Block Group 1, Census Tract 4002, Alameda Coun...",15000US060014002001,186.0,1071,881,0,0,57,06,001,400200,1
060014002002,"Block Group 2, Census Tract 4002, Alameda Coun...",15000US060014002002,142.0,913,710,29,0,108,06,001,400200,2
060014003001,"Block Group 1, Census Tract 4003, Alameda Coun...",15000US060014003001,63.0,1414,861,94,0,280,06,001,400300,1
060014003002,"Block Group 2, Census Tract 4003, Alameda Coun...",15000US060014003002,94.0,1259,881,71,12,171,06,001,400300,2
060014003003,"Block Group 3, Census Tract 4003, Alameda Coun...",15000US060014003003,49.0,962,504,352,0,40,06,001,400300,3
060014003004,"Block Group 4, Census Tract 4003, Alameda Coun...",15000US060014003004,94.0,1742,1311,174,0,235,06,001,400300,4
060014004001,"Block Group 1, Census Tract 4004, Alameda Coun...",15000US060014004001,134.0,1304,1056,11,17,164,06,001,400400,1
060014004002,"Block Group 2, Census Tract 4004, Alameda Coun...",15000US060014004002,111.0,1471,939,375,18,102,06,001,400400,2
060014004003,"Block Group 3, Census Tract 4004, Alameda Coun...",15000US060014004003,117.0,1330,930,68,0,140,06,001,400400,3

In [41]:
connection.set_mapservice('tigerWMS_ACS2015')
tracts = connection.mapservice.query(layer=8, where='STATE=06 and COUNTY=001', pkg='geopandas')
blocks = connection.mapservice.query(layer=10, where='STATE=06 and COUNTY=001', pkg='geopandas')

In [51]:
['NAME', 'GEOID'] + race_ids

['NAME',
 'GEOID',
 'B02001_001E',
 'B02001_002E',
 'B02001_003E',
 'B02001_004E',
 'B02001_005E']